#container {
    width: 500px;
    height: 500px;
    margin: auto;
    background: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid black 1px;
}

.divElement {
    background: grey;
    flex: 1 1 31.25px;
    box-sizing: border-box;
    /* border: solid black .01px; */
}

.divElement-mouseover {
    background: white;
    flex: 1 1 31.25px;
    box-sizing: border-box;
    /* border: solid black .01px; */
}